streamlit==1.58.0
streamlit-chat==0.1.1

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langchain-groq==0.1.4
langchain-huggingface==0.0.3

faiss-cpu==1.14.2
sentence-transformers==5.5.1

huggingface_hub==0.36.2
transformers==4.57.6

torch==2.7.1

PyPDF2==3.0.1
pypdf==6.12.2

reportlab==4.5.1
python-dotenv==1.2.2